<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

    <title>HikVision Camera Test</title>
</head>
<body>
<div class="container">
    <h3>HikVision Live Camera Streaming Test</h3>
    <div class="card">
        <form action="stream" method="post">
            <div class="form-group">
                <label for="ip">Ip Address</label>
                <input type="ip" name="ip" value="" required>
            </div>
            <div class="form-group">
                <label for="port">Port No</label>
                <input type="port" name="port" value="" required>
            </div>
            <div class="form-group">
                <label for="username">Username</label>
                <input type="username" name="username" value="" required>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" value="" required>
            </div>
            <input type="submit" value="Submit">
        </form>
    </div>
</div>
</body>
</html>